/* .................................. Body  */
body {
    margin: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* .................................. Navbar  */
.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    background-color: #082032;
}

.navbar_brand {
    display: flex;
    align-items: center;
}

.navbar_logo {
    margin-right: 30px;
    font-size: 24px;
    color: #F0A500;
    padding-left: 10px;
}

.logo {
    padding-left: 50px;
}

.navbar_navigation {
    display: flex;
    flex-direction: row;
    color: #F0A500;
    list-style: none;
    padding: 0;
}

.navbar_navigation_item {
    margin-left: 50px;
    padding: 50px;
}

.navbar_link {
    color: inherit;
    text-decoration: none;
}

/* .................................. Form  */
.main {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-input {
    width: 100%;
}

.form_textarea {
    width: 450px;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    background-color: #f3f6f6;
    margin-bottom: 10px;
}

.form_submit {
    background-color: #082032;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: #F0A500;
}

.form_submit:hover {
    background-color: #F0A500;
    color: #082032;
}

/* .................................. Blog Entries  */
.entry {
    margin-top: 50px;
}

.entry_title {
    display: inline;
    font-size: 18px;
}

.entry_date {
    color: #334756;
}

.entry_content {
    font-size: 16px;
    line-height: 150%;
}

/* .................................. Footer  */
.footer {
    background-color: #082032;
    color: #F0A500;
    padding: 40px 0;
    margin-top: 50px;
    border-top: 4px solid #000000;
    font-size: 12px;
}

.footer_content {
    max-width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer_column {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.footer_item {
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.footer_item:hover {
    color: white;
}